{%include 'temheader.html'%}
<div class="container" style="padding: 200px 0 100px;">
	<div class="row">
		<div class="col-md-3">
		 <h5>About Us</h5>
		<p style="text-align:justify;">To provide value added education in engineering, technology and management by elevating the student community with latest and advanced curriculum, better infrastructure and teaching-learning environment.</p>
		</div>
		<div class="col-md-6">
		<img style="margin-left: 10%; opacity: 1;" alt="Jai Shri Ram Group of Institutions" width="400" src="https://www.jayshriram.edu.in/jay-fin.png">
		</div>
		<div class="col-md-3">
		<h5>Contact Us</h5>
		<div>
		<p style="margin-left:15px;">Dharapuram Road, Avinashipalayam,<br>
		Tirupur- 638 660.<br>
		Ph No: 0421-2313335/6<br>
		Fax No: 0421-2313337<br>
		Cell: 90470 98310, 90470 98314,<br>
		principal@jayshriram.edu.in<br></p>
		</div>
		</div>
	</div>

</div>
{%include 'temfooter.html'%}